html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  order: 1;
}


header {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  background: #454040;
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 10%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #4376EF;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1.change {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2.change {
  opacity: 0;
}

.bar3.change {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

h2 {
  margin: auto;
  color: white;
}

#map {
  height: 100%;
}

section {
  width: 28%;
  padding: 0 2.5%;
  background: black;
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  transition: max-width 1s linear, padding .5s linear;
}

section header {
  background: transparent;
}

h4 {
  color: white;
}

#input-container {
  display: flex;
  text-align: center;
}

#input-container input {
  width: 70%;
  border: 2px solid #4376EF;
}

#input-container button {
  cursor: pointer;
  width: 30%;
  background: #4376EF;
  color: white;
  text-align: center;
  padding: 3%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#locations-container {
  color: white;
  text-align: center;
  padding: 2% 0;
  margin-top: 5%;
}

#locations-container div {
  margin-top: 20%;
  cursor: pointer;
  padding: 10% 0;
}

.hide {
  max-width: 0;
  overflow: hidden;
  padding: 0;
}
