html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  order: 1;
}


header {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  background: #454040;
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 10%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #4376EF;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1.change {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2.change {
  opacity: 0;
}

.bar3.change {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

h2 {
  margin: auto;
  color: white;
}

#map {
  height: 100%;
}

section {
  width: 28%;
  height: 100%;
  max-width: 0;
  min-width: 0;
  padding: 0;
  background: black;
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: max-width .2s linear, padding .5s linear, min-width .5s linear;
}

section header {
  background: transparent;
}

h4 {
  color: white;
  margin-top: 50%;
}

#input-container {
  display: flex;
  text-align: center;
  align-items: center;
  height: 50px;
  margin-top: 15%;
}

#input-container input {
  width: 70%;
  border: 2px solid #4376EF;
  padding: 2% 0;
}

#input-container button {
  cursor: pointer;
  width: 30%;
  background: #4376EF;
  color: white;
  text-align: center;
  padding: 3%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

section a {
  font-style: italic;
  font-weight: bold;
  color: white;
  display: block;
  margin-top: 10%;
}

#locations-container {
  color: white;
  text-align: center;
  padding: 2% 0;
  margin-top: 5%;
}

#locations-container div {
  margin-top: 20%;
  cursor: pointer;
  padding: 10% 0;
  width: 100%;
  transition: color .75s, background-color .75s;
}

#locations-container div:hover, #locations-container div:active {
  background-color: white;
  color: black;
}

.location-selected {
  background-color: white;
  color: black;
}

.show {
  max-width: 1000px;
  padding: 0 2.5%;
  min-width: 150px;
}

#info-Window {
  color: black !important;
  background: #454040;
  margin: auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#info-Window h4 {
  color: black;
  margin: 2% auto;
  background: white;
  text-align: center;
}

#info-Window p {
  background: white;
  margin: auto;
  padding: 10px;
}

i {
  font-weight: bolder;
}

div.gm-style-iw {
  background: #454040;
  padding: 0;
}
